.line{
    margin-top: 40px;
  border-top: 1px solid rgb(42, 9, 230);
}

.heading{
    color: rgb(185, 178, 226);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.image{
    width: 70px;
    height: 80px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}